<a href="https://colab.research.google.com/github/SaraAljuraybah/saudi-tech-job-skills-analysis/blob/main/notebook/data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
import pandas as pd
import time

url = "https://jsearch.p.rapidapi.com/search"

headers = {
    "x-rapidapi-host": "jsearch.p.rapidapi.com",
    "x-rapidapi-key": "f112a23bd9msh42e08e2a09d9e0ep10fb00jsnc343bce146de"
}

queries = [
    "data scientist",
    "data analyst",
    "machine learning engineer",
    "software engineer",
    "cybersecurity"
]

all_jobs = []

for q in queries:
    params = {
        "query": q,
        "country": "sa",
        "page": 1,
        "num_pages": 3
    }

    response = requests.get(url, headers=headers, params=params)
    data = response.json()
    jobs = data.get("data", [])

    for job in jobs:
        job["search_query"] = q
        all_jobs.append(job)

    time.sleep(1)


df_raw = pd.json_normalize(all_jobs)


df_raw.to_csv("jobs_sa_raw.csv", index=False)

print("Number Of Jobs :", len(df_raw))
df_raw.head()

Number Of Jobs : 139

,job_id,job_title,employer_name,employer_logo,employer_website,job_publisher,job_employment_type,job_employment_types,job_apply_link,job_apply_is_direct,...,job_longitude,job_benefits,job_google_link,job_salary,job_min_salary,job_max_salary,job_salary_period,job_onet_soc,job_onet_job_zone,search_query
0,HG2dKFfJtJoxJbSbAAAAAA==,Data Scientist – Generative AI & NLP,TestCrew | شركة متخصصة في اختبار البرمجيات في ...,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,دوام كامل,[FULLTIME],https://sa.linkedin.com/jobs/view/data-scienti...,False,...,46.675296,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist
1,PfRQy5Qw9ufjhz5jAAAAAA==,Senior Data Scientist - Oil and Gas background,AiElements,None,None,تنقيب,دوام كامل,[FULLTIME],https://saudi.tanqeeb.com/ar/jobs-in-middle-ea...,False,...,45.079162,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist
2,2Vb-cz1NBFG7RKUCAAAAAA==,专家数据科学家,Master-Works,None,https://master-works.sa,海拉拉,دوام كامل,[FULLTIME],https://hirelala.com/en/job/expert-data-scient...,False,...,46.675296,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,None,None,data scientist
3,KiB2MzFk-fbakz59AAAAAA==,Data Scientist Specialist,Saudi Aramco (ASC),None,None,Rigzone,دوام كامل,[FULLTIME],https://www.rigzone.com/oil/jobs/postings/1278...,False,...,45.079162,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist
4,LtsYuRyKhHsAFqFVAAAAAA==,Senior Data Scientist: ML & Business Analytics...,Laotop,None,https://laotop.net,Jobs In Saudi Arabia - Jooble,دوام كامل,[FULLTIME],https://sa.jooble.org/jdp/-7472424104836202212...,False,...,46.675296,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist