<a href="https://colab.research.google.com/github/SaraAljuraybah/saudi-tech-job-skills-analysis/blob/main/notebooks/data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import requests
import pandas as pd
import time

url = "https://jsearch.p.rapidapi.com/search"

headers = {
    "x-rapidapi-host": "jsearch.p.rapidapi.com",
    "x-rapidapi-key": "287b9ed168mshc2817b31fde68e3p1b88bajsn0f01c7e4469f"
}

queries = [
    "data scientist",
    "data analyst",
    "machine learning engineer",
    "software engineer",
    "ai engineer",
    "cloud engineer",
    "backend developer",
    "frontend developer",
    "full stack developer",
    "data engineer"
]


all_jobs = []

for q in queries:
    params = {
        "query": q,
        "country": "sa",
        "page": 1,
        "num_pages": 50
    }

    response = requests.get(url, headers=headers, params=params)
    data = response.json()

    jobs = data.get("data", [])

    for job in jobs:
        job["search_query"] = q
        all_jobs.append(job)

    time.sleep(1)


df_raw = pd.json_normalize(all_jobs)


df_raw.to_csv("jobs_sa_raw.csv", index=False)

print("Number Of Jobs :", len(df_raw))
df_raw.head()

Number Of Jobs : 1024

,job_id,job_title,employer_name,employer_logo,employer_website,job_publisher,job_employment_type,job_employment_types,job_apply_link,job_apply_is_direct,...,job_longitude,job_benefits,job_google_link,job_salary,job_min_salary,job_max_salary,job_salary_period,job_onet_soc,job_onet_job_zone,search_query
0,kiEiw54gGEdhA6-pAAAAAA==,Senior Specialist – Data Science,Red Sea Global,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://www.redseaglobal.com,LinkedIn,دوام كامل,[FULLTIME],https://sa.linkedin.com/jobs/view/senior-speci...,False,...,46.675296,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist
1,JXF_ghmQvMJGcCRHAAAAAA==,Data Scientist I,MOZN,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,دوام كامل,[FULLTIME],https://sa.linkedin.com/jobs/view/data-scienti...,False,...,46.675296,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist
2,-Z2292ez0weMyxZAAAAAAA==,Data Science Intern,MOZN,https://encrypted-tbn0.gstatic.com/images?q=tb...,None,LinkedIn,فترة تدريب,[],https://sa.linkedin.com/jobs/view/data-science...,False,...,46.675296,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist
3,zIvhrpaIlVNDpXh5AAAAAA==,Strategic Data Scientist — Predictive Analytic...,Emdad By Elm,None,None,Jobrapido.com,دوام كامل,[FULLTIME],https://sa.jobrapido.com/jobpreview/4394687256...,False,...,46.675296,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist
4,f0-IH677lT04TX4kAAAAAA==,Data Scientist,Saudi Networkers Services,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://www.saudinetworkers.com,GulfTalent.com,متعاقد,[CONTRACTOR],https://www.gulftalent.com/saudi-arabia/jobs/d...,False,...,46.209155,None,https://www.google.com/search?q=jobs&gl=sa&hl=...,NaN,None,None,None,15111100,5,data scientist

In [15]:
df_raw.shape

df_raw = df_raw.drop_duplicates(subset=["job_id"])
print("After removing duplicates:", len(df_raw))

After removing duplicates: 939